<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <script type = "text/javascript" src="/static/tabs.js"></script>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "static/tabs.css" type = "text/css"></link>
  </head>
  <body>
    <script type = "text/javascript" src="/static/tabs.js"></script>
    <center>
      <font color="black" size="4" style="font-family: avenir">
      <h1 style="color: DodgerBlue">Tags Created!</h1>
      <button type="button" style="background: blue; height: 45px; width: 200px; color: white; size: 5; font: oblique;" onclick = "displayTags()">SEE TAGS</button>
      <script>
        function displayTags(){
          location.href = "/DisplayTags"
        }
      </script>

      <button type="button" style="background: blue; height: 45px; width: 200px; color: white; size: 5; font: oblique;" onclick = "createMoreTags()">CREATE MORE TAGS</button>
      <script>
        function createMoreTags(){
          window.history.back()
        }
      </script>
    <center>

  </body>
</html>
